header{
  background-color: gray;
  height: 45mm ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  max-height: 100%;
  object-fit: cover;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

footer{
  height: 200px ;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(20, 18, 18);
  color: white;
  
}

.txtp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50mm;
  margin-right: 50mm;
  text-align: center;
}

.txts{
  height: 25mm ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

 .divsobre{
  height: 60mm;
} 